#header{
  background: rgb(243, 134, 9);
}

.header-content{
  background: rgb(243, 134, 9);
  color: #4677A7;
  margin: auto;
  margin-top: 80px;
  padding: 70px 0;
  max-width: 1950px;
} 
p{
  color: #888888;
}
h2{
  font-size: 40px;
  color: #005490;
  line-height: 52px;
  margin: 0 0 26px 0;
  font-family: 'Raleway', sans-serif;
  text-align: left;
}
.container {
  height: 100%;
  position: relative;
  background-color: #ffffff;
}
  

.fz-m{
  font-size:larger;
  font-weight:400;
}

mat-icon{
  margin-top: 4em;
  height: 100px;
  width: max-content;

}
  
