<section id="aboutUs">
<h2 class="mx-auto text-center">{{data.title}}</h2>
<div class="inner_wrapper">  
  <div class="container">
    
    <div class="inner_section">
      <div class="row">
        <div class="col-sm-4 col-xs-4 d-block d-md-none">
          <!-- <ng-image-slider [images]="imageObject" #nav></ng-image-slider> -->

          <!-- <img src="https://bnjjanitorialinc.com/img/about-img.jpg" alt="B &amp; J Janitorial building image" class="w-100"> -->
        </div>
     
          <div class="col-lg-4 col-md-4 d-none d-md-block" >
            <img src="../../assets/images/reel1.jpg" alt="" style="width: 100%;">
          </div>
          <div class=" col-lg-4 col-md-4 d-none d-md-block">
            <img src="../../assets/images/reel2.jpg" alt="" style="width: 100%;">
          </div>
          <div class=" col-lg-4 col-md-4 d-none d-md-block">
            <img src="../../assets/images/reel3.jpg" alt="" style="width: 100%;">
          </div>
            
      </div>
    </div>
  </div> 
  </div>
</section>