<section id="service">
  <div class="container">
    <h2>{{data.title}}</h2>
    <div class="service_wrapper">
      <div class="row">
        <div class="col-lg-4 service-column" *ngFor="let item of data.list;let i = index">
          <div class="service_block">
            <div class="service_icon" *ngIf="i == 0"><img src="./assets/icons/leaf.png" class="img-icon"></div>
            <div class="service_icon" *ngIf="i > 0"><span><i class="material-icons">{{item.icon}}</i></span></div>
            <h3>{{item.title}}</h3>
            <ul>
            <li *ngFor="let subItem of item.sublist">
              {{subItem}}
            </li>
            </ul>
          </div>
        </div>
      </div>
     </div>
  </div>
</section>